<?php
/**
 * General configuration
 *
 * PHP version 7
 *
 * @category PHP
 * @package  Clippings
 * @author   Stoycho Stoychev <sstoychev@sstoychev.name>
 * @license  MIT
 * @version  GIT: 124
 * @link     -
 */

use Monolog\Logger;

return [
    'displayErrorDetails' => true, // Should be set to false in production
    'determineRouteBeforeAppMiddleware' => true,
    'logError' => false,
    'logErrorDetails' => false,
    'logger' => [
        'name' => 'slim-app',
        'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
        'level' => Logger::DEBUG,
    ],
    'currencies' => [
        'EUR',
        'USD',
        'GBP',
        'BGN',
    ],
];
